@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

// Set your brand colors
$purple: #3c3b63;
$lighterGray: #bdbdbd;
$gray: #fafafa;
$black20: rgba(0, 0, 0, 0.2);
$black54: rgba(0, 0, 0, 0.54);
$black87: rgba(0, 0, 0, 0.87);
$white: #ffffff;
$white15: rgba(255, 255, 255, 0.15);
$white42: rgba(255, 255, 255, 0.42);


// Update Bulma's global variables
$family-sans-serif: 'Source Sans Pro', sans-serif;

$body-color: $black54;

$tablet: 768px;
$desktop: 992px;
$widescreen: 1200px;

$column-gap: 16px;

$input-arrow: $purple;


// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/utilities/_all';
@import '../../node_modules/bulma/sass/base/_all';
@import '../../node_modules/bulma/sass/grid/all';
@import '../../node_modules/bulma/sass/form/_all';
@import '../../node_modules/bulma/sass/elements/button';
@import '../../node_modules/bulma/sass/elements/container';
@import '../../node_modules/bulma/sass/elements/icon';
@import '../../node_modules/bulma/sass/components/navbar';
@import '../../node_modules/bulma/sass/components/card';
@import '../../node_modules/bulma/sass/components/media';
@import '../../node_modules/bulma/sass/layout/section';
@import '../../node_modules/bulma/sass/layout/footer';

html {
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  display: flex;
}

.media {
  align-items: center;
}

@keyframes spin {

}
